<div style="width: 50px; height: 100px; border : 1px solid black; display: inline-flex; align-items: flex-end">
    <div style="width: 25px; height: {{this.data.currentPowerLevel}}px; border : 1px solid black; background-color: {{this.powerColor}};">{{this.data.currentPowerLevel}}</div>
    <div style="width: 25px; height: {{this.data.currentCPULevel}}px; border : 1px solid black; background-color: {{this.cpuColor}};">{{this.data.currentCPULevel}}</div>
</div>