<div class="container">
  <div class="row">
    <div class="col-sm">
        <h2>Input</h2>
        <div class="row">
            <label for="criticalCount">Number of critical elements</label>
            <Input @id="criticalCount" @type="text" @value={{this.criticalCount}} @size="50" />
        </div>
        <div class="row">
            <label for="middleCriticalCount">Number of middle-critical elements</label>
            <Input @id="middleCriticalCount" @type="text" @value={{this.middleCriticalCount}} @size="50" />
        </div>
        <div class="row">
            <label for="notCriticalCount">Number of non-critical elements</label>
            <Input @id="notCriticalCount" @type="text" @value={{this.notCriticalCount}} @size="50" />
        </div>
        <div class="row" style="display: block;">
            <label for="deltaP">ΔP</label><br>
            <Input @id="deltaP" @type="text" @value={{this.deltaP}} @size="50" />
        </div>
        <div class="row" style="display: block;">
            <label for="pPorog">Threshold P</label><br>
            <Input @id="pPorog" @type="text" @value={{this.pPorog}} @size="50" />
        </div>
        <div class="row" style="display: block;">
            <label for="tInterval">Diagnosis interval Δt</label><br>
            <Input @id="tInterval" @type="text" @value={{this.tInterval}} @size="50" />
        </div>
        <br>
        <div class="row">
            <button class="btn btn-primary" {{action 'computeSituation'}}>Computation</button>
        </div>
    </div>
    <div class="col-sm">
      <h2>Computation</h2>
      {{#each-in this.diagnosticObjects as |key value|}}
        <h3>{{value.name}}</h3>
        <div class="row">
            {{#each value.data as |object|}}
                <div class="col">
                    {{system-object data=object}}
                </div>
            {{/each}}
        </div>
      {{/each-in}}
    </div>
  </div>
  <div class="row">
        {{ember-chart type='scatter' data=graphData options=options width=200 height=300}}
  </div>
</div>